head, body, footer {
    background-color: #C99551;
    font-family: Helvetica, sans-serif;
}

#banner {
    background-image: url("woodwork.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
 }

.green {
    color: #42A43F;
}

.mask {
    position: absolute;
    top: 25%;
    left: 25%;
}

#words {
    color: #ffffff;
}

#hi, .lead {
    font-family: Verdana, sans-serif;
}

#line {
    margin-top: 0rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid white;
}

.pictures > img {
    height: 250px;
    width: 250px;
    border-radius: 5% 5%;
}


#marcus-photo {
    border-radius: 20px;
    width: 300px;
}

.captions {
    text-align: center;
    margin-top: 15px;
}

.carousel {
    margin: 50px auto;
    padding: 0 10px;
}

.carousel-indicators {
    bottom: -40px;
}

.reviews {
    max-height: 500px;
}

#gallery-row{
    margin: 15px;
    /*max-height: 250px;*/
}

.each-pic {
    margin-bottom: 15px;
    border: 5px ridge #237539;
}


.icons {
    color: #237539;
}
